<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            font-style: "Roboto";
        }
        .image-container{
            text-align:center;
        }
        img{
            border-radius:50%;
        }
    </style>
</head>
<body>
    <div class="image-container">
        <h1>Hello this is the template of Home page</h1>
        <p>Hi every one, this is sample home page</p>
        <img src="https://res.cloudinary.com/dpqt8338m/image/upload/v1765789127/Screenshot_2025-12-15_142405_tuthzs.png" alt="profile image" />
    </div>
</body>
</html>